NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://amtwork23_db_user:abey-mathew@cluster0.cb3lqzt.mongodb.net/?appName=Cluster0
JWT_SECRET=your-super-secret-jwt-key-change-this
JWT_EXPIRE=7d
RAZORPAY_KEY_ID=yrzp_test_SesvwFp4DkV8j4
RAZORPAY_KEY_SECRET=ahm0675zTUAQrRvHLl1OQWnc
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
ADMIN_EMAIL=admin@voltex.com
